@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";


body {
  font-family: "Noto Sans", sans-serif;
  background-color: white;
}

/* #home {
  background: url("./assets/hero.jpg");
  background-position: center;
  background-size: cover;
} */

@media (max-width: 768px) {
  .header {
    padding: 10px 20px;
  }
}
